h1,
p {
  font-family: Lato;
}

body {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: linear-gradient(0deg, #e9585859 6%, #073aff00 100%),
    linear-gradient(0deg, #686175f5 9%, #073aff00 100%),
    radial-gradient(35% 56% at 91% 74%, #000000f5 9%, #073aff00 100%),
    linear-gradient(125deg, #4eb5ffff 1%, #4c00fcff 100%);
  background-repeat: no-repeat;
}
html {
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  width: fit-content;
  margin: auto;
}

#list {
  animation: slide-in 1s;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
  }
}
